<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PHORGE COIN</title>
  {% block meta %}
  {% endblock %}

  {% block main_styles %}
    {# Global styles go here #}
  {% endblock %}

  {% block styles %}
    {# template specific styles go here #}
  {% endblock %}

</head>
<body class="bg-faded">
{% block top_nav %}
{% endblock %}

<div>
  {% block content %}
    {# content will go here #}
  {% endblock %}
</div>

{% block footer %}

{% endblock %}

{% block main_scripts %}
  {# Main scripts needed for the whole site #}
{% endblock %}

{% block scripts %}
  {# template specific scripts go here #}
{% endblock %}
</body>
</html>
